.base {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  background: darkslateblue;
}
.children {
  flex-wrap: nowrap;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  padding: 0.6em;
  color: white;
  margin: 0;
}
